* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #333;
    background-color: white;
}

/* header */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0;
    height: 40px;
    background-color: #f9f9f9;
    font-size: 15px;
    color: #333;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

header p {
    margin: 0;
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid #ddd;
    cursor: pointer;
    transition: color 0.3s;
}


header p:hover {
    color: #e60000;
}



/* navbar */

nav {
    width: 95%;
    margin: 0 auto;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

.logo span {
    color: red;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
    color: black;
    text-transform: uppercase;
}

.nav-links li a:hover {
    color: red;
}



/* Hero Section */


.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-bottom: 200px;

}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("./images/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay-bg {
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero-text {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: white;
    padding: 70px 0 50px 0;
}

.hero-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.hero-subtitle {
    font-size: 1.125rem;
    max-width: 700px;
    margin: 0 auto 2rem;
    line-height: 1.6;
}

.overlay {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-bar {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 600px;
}

.search-bar button {
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    background-color: #e60000;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #c20000;
}

.search-bar-inner {
    display: flex;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

.search-bar-inner input {
    padding: 12px;
    font-size: 1rem;
    border: none;
    flex: 1;
    outline: none;
}

.search-bar-inner input:first-child {
    border-right: 1px solid #ddd;
}


/* Categories */
.categories {
    position: absolute;
    top: 400px;
    z-index: 20;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #f9f9f9;
    padding: 60px 16px;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.card small {
    display: block;
    font-size: 0.8rem;
    color: #666;
    margin-top: 10px;
}

.card img {
    width: 30px;
    margin-bottom: 15px;
}

/* How it works */
.how-it-works {
    background-color: #ecf5fc;
    padding: 50px 20px;
    text-align: center;
    height: 550px;
}

.how-it-works h2 {
    font-size: 24px;
}

.how-it-works>p {
    font-size: 16px;
    color: #666;
    margin: 20px 0;
    font-weight: 700;
}

.how-boxes {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 87%;
    margin: 0 auto;
    padding: 30px 0;
    /* margin-top: -40px; */
}

.box {
    background-color: white;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}


.box .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #66666627;
    margin: 0 auto 20px;
}

.box .icon i {
    font-size: 24px;
    color: rgb(20, 19, 19);
}

.box p {
    width: 95%;
    margin: 0 auto;
    font-size: 0.9rem;
    color: #666;
    line-height: 1.5;
    padding: 10px 0;
}


.btn button {
    padding: 10px 16px;
    font-weight: 700;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #3130306f;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

.border {
    border: 1px solid #ddd;
    width: 90%;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 90%;
    margin: 0 auto;
}


.footer-text p {
    font-weight: 600;
}

.social-media {
    display: flex;
    gap: 20px;
    align-items: center;
}

.social-media p {
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}

.social-media a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s;
    /* padding-left: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* margin: 0 auto 20px; */
    border: 1px solid #ddd;
    background-color: #66666627;
}